absl-py
anyio
attrs
certifi
cffi
contourpy
cvzone
cycler
exceptiongroup
flatbuffers
fonttools
gevent
greenlet
h11
httpcore
httpx
idna
importlib_metadata
importlib_resources
jax
kiwisolver
matplotlib
mediapipe
ml-dtypes
numpy
opencv-contrib-python
opencv-python
opt-einsum
packaging
pillow
protobuf
pycparser
pynput
pyparsing
python-dateutil
PyYAML
scipy
six
sniffio
sounddevice
typing_extensions
wcwidth
websockets
zipp
zope.event
zope.interface
